<% var data={ title: "MAIN" , author: "" }; %>
  <%= _.template(require('../includes/head.html').default)(data) %>
    <%= _.template(require('../includes/header.html').default)(data) %>
      <main>
        <div class="page">
          <div class="breadcrumbs">
            <div class="container">
              <div class="breadcrumbs__items">
                <ul>
                  <li>
                    <a href="/">
                      <span>
                        <img src="img/Home.svg" alt="Главная" title="Главная" width="16" height="16">
                      </span>
                    </a>
                  </li>
                  <li>
                    <a href="">
                      <span>Каталог</span>
                    </a>
                  </li>
                  <li>
                    <span>Мясо, птица</span>
                  </li>
                </ul>
              </div>
              <!-- /.breadcrumbs__items -->
            </div>
            <!-- /.container -->
          </div>
          <!-- /.breadcrumbs -->

          <div class="pagewithbanner" style="background-image: url(img/Group1632525206.png);">
            <div class="pagewithbanner__banner">
              <div class="container">
                <div class="pagewithbanner__wrapper">
                  <div class="pagewithbanner__content">
                    <div class="pagewithbanner__title">Группа компаний «Комплексные системы безопасности» («КСБ») г.
                      Санкт-Петербург основана в 2004 году. </div><!-- /.pagewithbanner__title -->
                    <div class="pagewithbanner__text">На сегодняшний день «КСБ» – торговый дом, крупный интегратор и
                      мониторинговый центр.</div><!-- /.pagewithbanner__text -->
                  </div><!-- /.pagewithbanner__content -->
                </div><!-- /.pagewithbanner__wrapper -->
              </div><!-- /.container -->
            </div><!-- /.pagewithbanner__banner -->
          </div><!-- /.pagewithbanner -->

          <div class="container">
            <div class="pagecontent">
              <div class="pagetext">
                <ul>
                  <li><span>Эксклюзивный дистрибьютор видеонаблюдения <a href="">AMATEK</a></span></li>
                  <li><span>Эксклюзивный дистрибьютор аналогового видеонаблюдения AVTECH и официальный дистрибьютор
                      IP-видеонаблюдения AVTECH в России. Официальный дистрибьютор оборудования Pyronix , Visonic и
                      TAMRON.</span> </li>
                  <li><span>Является дилером оборудования известных брендов: CTV, Tantos, Hikvision, Jablotron, DSC,
                      Optex, Eldes, Ритм, Came, IronLogic, Gate, Сфинкс, Strazh, INTER-M, Олевс, Faraday, Промрукав и
                      многих других.</span> </li>
                  <li><span>Осуществляет оптовые и розничные продажи оборудования систем безопасности по направлениям
                      видеонаблюдения, СКУД, ОПС, пожаротушения, оповещения, расходных материалов и других.</span></li>
                  <li><span>Продаёт и отгружает оборудование по России и СНГ. Офисы и склады компании находятся в
                      Санкт-Петербурге и Москве.</span></li>
                  <li><span>Консультирует по выбору оборудования систем безопасности.</span></li>
                  <li><span>Обеспечивает техническую поддержку, гарантийный ремонт и сервисное обслуживание оборудования
                      в
                      собственном Сервисном Центре.</span></li>
                </ul><!--  -->
              </div><!-- /.pagetext -->


              <div class="catalogroot indexcat">
                <h2>Продаваемые товары</h2>

                <div class="indexcat__items indexcat__items_full">
                  <div class="indexcat__item ">
                    <a aria-label="link" href="#" class="indexcat__link">
                      <div class="indexcat__wrapper">
                        <div class="indexcat__content">
                          <div class="indexcat__header">
                            <div class="indexcat__title">Видеокамеры</div>
                          </div>
                          <div class="indexcat__count">
                            <ul>
                              <li>Мультиформатные</li>
                              <li>CVI</li>
                              <li>TVI</li>
                              <li>IP</li>
                            </ul>
                          </div>

                        </div>
                        <!-- /.indexcat__content -->
                        <div class="indexcat__image"><img loading="lazy" src="img/category1.webp " alt="" title=""
                            width="248" height="148"></div>
                      </div>
                      <!-- /.indexcat__wrapper -->
                    </a>
                  </div>
                  <div class="indexcat__item ">
                    <a aria-label="link" href="#" class="indexcat__link">
                      <div class="indexcat__wrapper">
                        <div class="indexcat__content">
                          <div class="indexcat__header">
                            <div class="indexcat__title">Видеокамеры</div>
                          </div>
                          <div class="indexcat__count">
                            <ul>
                              <li>Мультиформатные</li>
                              <li>CVI</li>
                              <li>TVI</li>
                              <li>IP</li>
                            </ul>
                          </div>

                        </div>
                        <!-- /.indexcat__content -->
                        <div class="indexcat__image"><img loading="lazy" src="img/category1.webp " alt="" title=""
                            width="248" height="148"></div>
                      </div>
                      <!-- /.indexcat__wrapper -->
                    </a>
                  </div>
                  <div class="indexcat__item ">
                    <a aria-label="link" href="#" class="indexcat__link">
                      <div class="indexcat__wrapper">
                        <div class="indexcat__content">
                          <div class="indexcat__header">
                            <div class="indexcat__title">Видеокамеры</div>
                          </div>
                          <div class="indexcat__count">
                            <ul>
                              <li>Мультиформатные</li>
                              <li>CVI</li>
                              <li>TVI</li>
                              <li>IP</li>
                            </ul>
                          </div>

                        </div>
                        <!-- /.indexcat__content -->
                        <div class="indexcat__image"><img loading="lazy" src="img/category1.webp " alt="" title=""
                            width="248" height="148"></div>
                      </div>
                      <!-- /.indexcat__wrapper -->
                    </a>
                  </div>
                  <div class="indexcat__item ">
                    <a aria-label="link" href="#" class="indexcat__link">
                      <div class="indexcat__wrapper">
                        <div class="indexcat__content">
                          <div class="indexcat__header">
                            <div class="indexcat__title">Видеокамеры</div>
                          </div>
                          <div class="indexcat__count">
                            <ul>
                              <li>Мультиформатные</li>
                              <li>CVI</li>
                              <li>TVI</li>
                              <li>IP</li>
                            </ul>
                          </div>

                        </div>
                        <!-- /.indexcat__content -->
                        <div class="indexcat__image"><img loading="lazy" src="img/category1.webp " alt="" title=""
                            width="248" height="148"></div>
                      </div>
                      <!-- /.indexcat__wrapper -->
                    </a>
                  </div>
                  <div class="indexcat__item ">
                    <a aria-label="link" href="#" class="indexcat__link">
                      <div class="indexcat__wrapper">
                        <div class="indexcat__content">
                          <div class="indexcat__header">
                            <div class="indexcat__title">Видеокамеры</div>
                          </div>
                          <div class="indexcat__count">
                            <ul>
                              <li>Мультиформатные</li>
                              <li>CVI</li>
                              <li>TVI</li>
                              <li>IP</li>
                            </ul>
                          </div>

                        </div>
                        <!-- /.indexcat__content -->
                        <div class="indexcat__image"><img loading="lazy" src="img/category1.webp " alt="" title=""
                            width="248" height="148"></div>
                      </div>
                      <!-- /.indexcat__wrapper -->
                    </a>
                  </div>
                  <div class="indexcat__item ">
                    <a aria-label="link" href="#" class="indexcat__link">
                      <div class="indexcat__wrapper">
                        <div class="indexcat__content">
                          <div class="indexcat__header">
                            <div class="indexcat__title">Видеокамеры</div>
                          </div>
                          <div class="indexcat__count">
                            <ul>
                              <li>Мультиформатные</li>
                              <li>CVI</li>
                              <li>TVI</li>
                              <li>IP</li>
                            </ul>
                          </div>

                        </div>
                        <!-- /.indexcat__content -->
                        <div class="indexcat__image"><img loading="lazy" src="img/category1.webp " alt="" title=""
                            width="248" height="148"></div>
                      </div>
                      <!-- /.indexcat__wrapper -->
                    </a>
                  </div>
                  <div class="indexcat__item ">
                    <a aria-label="link" href="#" class="indexcat__link">
                      <div class="indexcat__wrapper">
                        <div class="indexcat__content">
                          <div class="indexcat__header">
                            <div class="indexcat__title">Видеокамеры</div>
                          </div>
                          <div class="indexcat__count">
                            <ul>
                              <li>Мультиформатные</li>
                              <li>CVI</li>
                              <li>TVI</li>
                              <li>IP</li>
                            </ul>
                          </div>

                        </div>
                        <!-- /.indexcat__content -->
                        <div class="indexcat__image"><img loading="lazy" src="img/category1.webp " alt="" title=""
                            width="248" height="148"></div>
                      </div>
                      <!-- /.indexcat__wrapper -->
                    </a>
                  </div>
                </div>
              </div>
              <div class="pagetext">
                <h2>Интегратор «КСБ» предлагает следующие виды услуг:</h2>

                <ul>
                  <li><span>Эксклюзивный дистрибьютор видеонаблюдения <a href="">AMATEK</a></span></li>
                  <li><span>Эксклюзивный дистрибьютор аналогового видеонаблюдения AVTECH и официальный дистрибьютор
                      IP-видеонаблюдения AVTECH в России. Официальный дистрибьютор оборудования Pyronix , Visonic и
                      TAMRON.</span> </li>
                  <li><span>Является дилером оборудования известных брендов: CTV, Tantos, Hikvision, Jablotron, DSC,
                      Optex, Eldes, Ритм, Came, IronLogic, Gate, Сфинкс, Strazh, INTER-M, Олевс, Faraday, Промрукав и
                      многих других.</span> </li>
                  <li><span>Осуществляет оптовые и розничные продажи оборудования систем безопасности по направлениям
                      видеонаблюдения, СКУД, ОПС, пожаротушения, оповещения, расходных материалов и других.</span></li>
                  <li><span>Продаёт и отгружает оборудование по России и СНГ. Офисы и склады компании находятся в
                      Санкт-Петербурге и Москве.</span></li>
                  <li><span>Консультирует по выбору оборудования систем безопасности.</span></li>
                  <li><span>Обеспечивает техническую поддержку, гарантийный ремонт и сервисное обслуживание оборудования
                      в
                      собственном Сервисном Центре.</span></li>
                </ul><!--  -->
             
                <h2>Мониторинговый центр «КСБ» объектов недвижимости </h2>

                <ul>
                  <li><span>Эксклюзивный дистрибьютор видеонаблюдения <a href="">AMATEK</a></span></li>
                  <li><span>Эксклюзивный дистрибьютор аналогового видеонаблюдения AVTECH и официальный дистрибьютор
                      IP-видеонаблюдения AVTECH в России. Официальный дистрибьютор оборудования Pyronix , Visonic и
                      TAMRON.</span> </li>
                  <li><span>Является дилером оборудования известных брендов: CTV, Tantos, Hikvision, Jablotron, DSC,
                      Optex, Eldes, Ритм, Came, IronLogic, Gate, Сфинкс, Strazh, INTER-M, Олевс, Faraday, Промрукав и
                      многих других.</span> </li>
                  <li><span>Осуществляет оптовые и розничные продажи оборудования систем безопасности по направлениям
                      видеонаблюдения, СКУД, ОПС, пожаротушения, оповещения, расходных материалов и других.</span></li>
                  <li><span>Продаёт и отгружает оборудование по России и СНГ. Офисы и склады компании находятся в
                      Санкт-Петербурге и Москве.</span></li>
                  <li><span>Консультирует по выбору оборудования систем безопасности.</span></li>
                  <li><span>Обеспечивает техническую поддержку, гарантийный ремонт и сервисное обслуживание оборудования
                      в
                      собственном Сервисном Центре.</span></li>
                </ul><!--  -->
              </div><!-- /.pagetext -->

            </div><!-- /.pagecontent -->
          </div>
         

       
      </main>
      <%= _.template(require('../includes/footer.html').default)(data) %>