<% var data={ title: "MAIN" , author: "" }; %>
  <%= _.template(require('../includes/head.html').default)(data) %>
    <%= _.template(require('../includes/header.html').default)(data) %>
      <main>
        <div class="page ">
          <div class="breadcrumbs">
            <div class="container">
              <div class="breadcrumbs__items">
                <ul>
                  
                  <li>
                    <a href="">
                      <span>Главная </span>
                    </a>
                  </li>
                  <li>
                    <a href="">
                      <span>Каталог товаров</span>
                    </a>
                  </li>
                  <li>
                    <a href="">
                      <span>Видеонаблюдение</span>
                    </a>
                  </li>
                  <li>
                    <span>Видеокамеры</span>
                  </li>
                </ul>
              </div>
              <!-- /.breadcrumbs__items -->
            </div>
            <!-- /.container -->
          </div>
          <!-- /.breadcrumbs -->
          <div class="container">
            <div class="pageheader pageheader__type2">
              <h1>Каталог товаров</h1>
            </div>
            <div class="catalogroot indexcat">
              <div class="indexcat__items indexcat__items_full">
                <div class="indexcat__item ">
                  <a aria-label="link" href="#" class="indexcat__link">
                    <div class="indexcat__wrapper" >
                      <div class="indexcat__content">
                        <div class="indexcat__header">
                          <div class="indexcat__title">Видеокамеры</div>
                        </div>
                        <div class="indexcat__count">14 товаров</div>

                      </div>
                      <!-- /.indexcat__content -->
                      <div class="indexcat__image"><img loading="lazy" src="img/category1.webp " alt="" title="" width="248" height="148"></div>
                    </div>
                    <!-- /.indexcat__wrapper -->
                  </a>
                </div>
                <div class="indexcat__item ">
                  <a aria-label="link" href="#" class="indexcat__link">
                    <div class="indexcat__wrapper" >
                      <div class="indexcat__content">
                        <div class="indexcat__header">
                          <div class="indexcat__title">Видеокамеры Видеокамеры Видеокамеры</div>
                        </div>
                        <div class="indexcat__count">14 товаров</div>

                      </div>
                      <!-- /.indexcat__content -->
                      <div class="indexcat__image"><img loading="lazy" src="img/category1.webp " alt="" title="" width="248" height="148"></div>
                    </div>
                    <!-- /.indexcat__wrapper -->
                  </a>
                </div>
                <div class="indexcat__item ">
                  <a aria-label="link" href="#" class="indexcat__link">
                    <div class="indexcat__wrapper" >
                      <div class="indexcat__content">
                        <div class="indexcat__header">
                          <div class="indexcat__title">Видеокамеры</div>
                        </div>
                        <div class="indexcat__count">14 товаров</div>

                      </div>
                      <!-- /.indexcat__content -->
                      <div class="indexcat__image"><img loading="lazy" src="img/category1.webp " alt="" title="" width="248" height="148"></div>
                    </div>
                    <!-- /.indexcat__wrapper -->
                  </a>
                </div>
                <div class="indexcat__item ">
                  <a aria-label="link" href="#" class="indexcat__link">
                    <div class="indexcat__wrapper" >
                      <div class="indexcat__content">
                        <div class="indexcat__header">
                          <div class="indexcat__title">Видеокамеры</div>
                        </div>
                        <div class="indexcat__count">14 товаров</div>

                      </div>
                      <!-- /.indexcat__content -->
                      <div class="indexcat__image"><img loading="lazy" src="img/category1.webp " alt="" title="" width="248" height="148"></div>
                    </div>
                    <!-- /.indexcat__wrapper -->
                  </a>
                </div>
                <div class="indexcat__item ">
                  <a aria-label="link" href="#" class="indexcat__link">
                    <div class="indexcat__wrapper" >
                      <div class="indexcat__content">
                        <div class="indexcat__header">
                          <div class="indexcat__title">Видеокамеры</div>
                        </div>
                        <div class="indexcat__count">14 товаров</div>

                      </div>
                      <!-- /.indexcat__content -->
                      <div class="indexcat__image"><img loading="lazy" src="img/category1.webp " alt="" title="" width="248" height="148"></div>
                    </div>
                    <!-- /.indexcat__wrapper -->
                  </a>
                </div>
                <div class="indexcat__item ">
                  <a aria-label="link" href="#" class="indexcat__link">
                    <div class="indexcat__wrapper" >
                      <div class="indexcat__content">
                        <div class="indexcat__header">
                          <div class="indexcat__title">Видеокамеры</div>
                        </div>
                        <div class="indexcat__count">14 товаров</div>

                      </div>
                      <!-- /.indexcat__content -->
                      <div class="indexcat__image"><img loading="lazy" src="img/category1.webp " alt="" title="" width="248" height="148"></div>
                    </div>
                    <!-- /.indexcat__wrapper -->
                  </a>
                </div>
                <div class="indexcat__item ">
                  <a aria-label="link" href="#" class="indexcat__link">
                    <div class="indexcat__wrapper" >
                      <div class="indexcat__content">
                        <div class="indexcat__header">
                          <div class="indexcat__title">Видеокамеры</div>
                        </div>
                        <div class="indexcat__count">14 товаров</div>

                      </div>
                      <!-- /.indexcat__content -->
                      <div class="indexcat__image"><img loading="lazy" src="img/category1.webp " alt="" title="" width="248" height="148"></div>
                    </div>
                    <!-- /.indexcat__wrapper -->
                  </a>
                </div>
                <div class="indexcat__item ">
                  <a aria-label="link" href="#" class="indexcat__link">
                    <div class="indexcat__wrapper" >
                      <div class="indexcat__content">
                        <div class="indexcat__header">
                          <div class="indexcat__title">Видеокамеры</div>
                        </div>
                        <div class="indexcat__count">14 товаров</div>

                      </div>
                      <!-- /.indexcat__content -->
                      <div class="indexcat__image"><img loading="lazy" src="img/category1.webp " alt="" title="" width="248" height="148"></div>
                    </div>
                    <!-- /.indexcat__wrapper -->
                  </a>
                </div>
                <div class="indexcat__item ">
                  <a aria-label="link" href="#" class="indexcat__link">
                    <div class="indexcat__wrapper" >
                      <div class="indexcat__content">
                        <div class="indexcat__header">
                          <div class="indexcat__title">Видеокамеры</div>
                        </div>
                        <div class="indexcat__count">14 товаров</div>

                      </div>
                      <!-- /.indexcat__content -->
                      <div class="indexcat__image"><img loading="lazy" src="img/category1.webp " alt="" title="" width="248" height="148"></div>
                    </div>
                    <!-- /.indexcat__wrapper -->
                  </a>
                </div>
                <div class="indexcat__item ">
                  <a aria-label="link" href="#" class="indexcat__link">
                    <div class="indexcat__wrapper" >
                      <div class="indexcat__content">
                        <div class="indexcat__header">
                          <div class="indexcat__title">Видеокамеры</div>
                        </div>
                        <div class="indexcat__count">14 товаров</div>

                      </div>
                      <!-- /.indexcat__content -->
                      <div class="indexcat__image"><img loading="lazy" src="img/category1.webp " alt="" title="" width="248" height="148"></div>
                    </div>
                    <!-- /.indexcat__wrapper -->
                  </a>
                </div>
                <div class="indexcat__item ">
                  <a aria-label="link" href="#" class="indexcat__link">
                    <div class="indexcat__wrapper" >
                      <div class="indexcat__content">
                        <div class="indexcat__header">
                          <div class="indexcat__title">Видеокамеры</div>
                        </div>
                        <div class="indexcat__count">14 товаров</div>

                      </div>
                      <!-- /.indexcat__content -->
                      <div class="indexcat__image"><img loading="lazy" src="img/category1.webp " alt="" title="" width="248" height="148"></div>
                    </div>
                    <!-- /.indexcat__wrapper -->
                  </a>
                </div>
                <div class="indexcat__item ">
                  <a aria-label="link" href="#" class="indexcat__link">
                    <div class="indexcat__wrapper" >
                      <div class="indexcat__content">
                        <div class="indexcat__header">
                          <div class="indexcat__title">Видеокамеры</div>
                        </div>
                        <div class="indexcat__count">14 товаров</div>

                      </div>
                      <!-- /.indexcat__content -->
                      <div class="indexcat__image"><img loading="lazy" src="img/category1.webp " alt="" title="" width="248" height="148"></div>
                    </div>
                    <!-- /.indexcat__wrapper -->
                  </a>
                </div>
                <div class="indexcat__item ">
                  <a aria-label="link" href="#" class="indexcat__link">
                    <div class="indexcat__wrapper" >
                      <div class="indexcat__content">
                        <div class="indexcat__header">
                          <div class="indexcat__title">Видеокамеры</div>
                        </div>
                        <div class="indexcat__count">14 товаров</div>

                      </div>
                      <!-- /.indexcat__content -->
                      <div class="indexcat__image"><img loading="lazy" src="img/category1.webp " alt="" title="" width="248" height="148"></div>
                    </div>
                    <!-- /.indexcat__wrapper -->
                  </a>
                </div>
                <div class="indexcat__item ">
                  <a aria-label="link" href="#" class="indexcat__link">
                    <div class="indexcat__wrapper" >
                      <div class="indexcat__content">
                        <div class="indexcat__header">
                          <div class="indexcat__title">Видеокамеры</div>
                        </div>
                        <div class="indexcat__count">14 товаров</div>

                      </div>
                      <!-- /.indexcat__content -->
                      <div class="indexcat__image"><img loading="lazy" src="img/category1.webp " alt="" title="" width="248" height="148"></div>
                    </div>
                    <!-- /.indexcat__wrapper -->
                  </a>
                </div>
                <div class="indexcat__item ">
                  <a aria-label="link" href="#" class="indexcat__link">
                    <div class="indexcat__wrapper" >
                      <div class="indexcat__content">
                        <div class="indexcat__header">
                          <div class="indexcat__title">Видеокамеры</div>
                        </div>
                        <div class="indexcat__count">14 товаров</div>

                      </div>
                      <!-- /.indexcat__content -->
                      <div class="indexcat__image"><img loading="lazy" src="img/category1.webp " alt="" title="" width="248" height="148"></div>
                    </div>
                    <!-- /.indexcat__wrapper -->
                  </a>
                </div>

               
              </div>
            </div>
          </div>
        </div>
        <div class="seoblock">
          <div class="container">
            <div class="seoblock__wrapper">
              <div class="seoblock__title">
                <h2>Заголовок для SEO</h2>
              </div>
              <div class="seoblock__text">
                <p>Если вам необходимо знать, что происходит в ваше отсутствие дома или на предприятии, если вы хотите уличить в воровстве и иных неправомерных действиях сотрудников своей организации, вы можете установить системы видеонаблюдения. Видеокамеры по праву считаются одним из самых эффективных и высокоточных способов обеспечения безопасности, неважно, идет ли речь о вашем доме или о вашем офисе. Любые другие средства обеспечения безопасности значительно проигрывают системам видеонаблюдения. Используя видеокамеры, можно обеспечить круглосуточный контроль – запись ведется на жесткие диски, причем материал можно пересмотреть, если это необходимо. Компания "Комплексные Системы Безопасности" предлагает вам видеокамеры Avtech, которые по праву считаются не только одними из самых эффективных, но и самыми доступными и современными способами обеспечения безопасности.</p>
               
              </div>
              <!-- /.seoblock__text -->
            </div>
            <!-- /.seoblock__wrapper -->
          </div>
          <!-- /.container -->
        </div>
      </main>
      <%= _.template(require('../includes/footer.html').default)(data) %>