<% var data={ title: "MAIN" , author: "" }; %>
  <%= _.template(require('../includes/head.html').default)(data) %>
    <%= _.template(require('../includes/header.html').default)(data) %>
      <main>
        <div class="page pb-0">
          <div class="breadcrumbs">
            <div class="container">
              <div class="breadcrumbs__items">
                <ul>
                  <li>
                    <a href="/">
                      <span>
                        <img src="img/Home.svg" alt="" width="16" height="16">
                      </span>
                    </a>
                  </li>
                  <li>
                    <a href="">
                      <span>Каталог</span>
                    </a>
                  </li>
                  <li>
                    <span>Мясо, птица</span>
                  </li>
                </ul>
              </div>
              <!-- /.breadcrumbs__items -->
            </div>
            <!-- /.container -->
          </div>
          <!-- /.breadcrumbs -->
          <div class="container">
            <div class="pageheader pageheader__type2">
              <h1>Контакты</h1>
            </div>
            <div class="catalogheader__linktab">
              <a href="" class="active">Санкт-Петербург</a>
              <a href="" class="">Москва</a>
            </div>
            <div class=" customblock_flex contactspage">
              <div class="customblock__left customblock__left_contacts">


                <div class="contactpage">
                  <div class="contactpage__objects">
                    <div class="contactpage__object">
                      <div class="contactobject__title">Отдел оптовых продаж, центральный офис, проектирование и монтаж
                      </div>
                      <div class="contactobject__content">
                        <div class="contactobject__items">
                          <div class="contactobject__item">
                            <div class="contactobject__icon">
                              <img src="img/locatte.svg" alt="locate" title="locate" width="20" height="20">
                            </div>
                            <div class="contactobject__main">
                              <div class="contactobject__text">194100 Россия, Санкт-Петербург, ул. Литовская, д.10
                                (бизнес-центр), офис №2215А |</div>
                            </div><!-- /.contactobject__main -->
                          </div><!-- /.contactobject__item -->
                          <div class="contactobject__item">
                            <div class="contactobject__icon">
                              <img src="img/RingerVolume.svg" alt="RingerVolume" title="RingerVolume" width="20" height="20">
                            </div>
                            <div class="contactobject__main">
                              <div class="contactobject__phones">
                                <div class="contactobject__phone">
                                  <a href="tel:+78122928444">7 (812) 292-84-44 </a>
                                  <span>многоканальный</span>
                                </div>
                                <div class="contactobject__phone">
                                  <a href="tel:+78122928486">+7 (812) 292-84-86</a>
                                </div>
                                <div class="contactobject__phone">
                                  <a href="tel:+78122928434">+7 (812) 292-84-34</a>
                                </div>
                                <div class="contactobject__phone">
                                  <a href="tel:+78122928489">+7 (812) 292-84-89</a>
                                </div>
                              </div><!-- /.contactobject__phones -->
                            </div><!-- /.contactobject__main -->
                          </div><!-- /.contactobject__item -->
                          <div class="contactobject__item">
                            <div class="contactobject__icon">
                              <img src="img/EditMessage.svg" alt="EditMessage.svg" title="EditMessage.svg" width="20" height="20">
                            </div>
                            <div class="contactobject__main">
                              <div class="contactobject__phones">
                                <div class="contactobject__email">
                                  <a href="mailto:info@ksb.su">info@ksb.su</a>
                                </div>
                                <div class="contactobject__email">
                                  <a href="mailto:opt@ksb.su ">opt@ksb.su </a>
                                </div>
                               
                              </div><!-- /.contactobject__phones -->
                            </div><!-- /.contactobject__main -->
                          </div><!-- /.contactobject__item -->
                          <div class="contactobject__item">
                            <div class="contactobject__icon">
                              <img src="img/OClock.svg" alt="OClock.svg" title="OClock.svg" width="20" height="20">
                            </div>
                            <div class="contactobject__main">
                              <div class="contactobject__shedule">
                                <div class="contactobject__time">
                                  <div class="contactobject__text"><b>ПН-ПТ:</b> с 9-00 до 18-00 &nbsp;&nbsp;&nbsp; <b>СБ-ВС:</b> Выходной</div>
                                </div>
                                <div class="contactobject__path onlyDesktop">
                                  <a href="#" class=" btn_border_lg onlyDesktop">Как пройти?</a>
                                </div>
                              </div><!-- /.contactobject__phones -->
                            </div><!-- /.contactobject__main -->
                          </div><!-- /.contactobject__item -->
                        </div><!-- /.contactobject__items -->
                          <div class="contactobject__path onlyMobile">
                          <a href="#" class=" btn_border_lg ">Как пройти?</a>
                        </div>
                      </div><!-- /.contactobject__content -->
                    </div><!-- /.contactpage__object -->
                    <div class="contactpage__object">
                      <div class="contactobject__title">Отдел дистрибуции Amatek, Visonic, AVTECH
                      </div>
                      <div class="contactobject__content">
                        <div class="contactobject__items">
                          <div class="contactobject__item">
                            <div class="contactobject__icon">
                              <img src="img/locatte.svg" alt="locate" title="locate" width="20" height="20">
                            </div>
                            <div class="contactobject__main">
                              <div class="contactobject__text">194100 Россия, Санкт-Петербург, ул. Литовская, д.10
                                (бизнес-центр), офис №2215А |</div>
                            </div><!-- /.contactobject__main -->
                          </div><!-- /.contactobject__item -->
                          <div class="contactobject__item">
                            <div class="contactobject__icon">
                              <img src="img/RingerVolume.svg" alt="RingerVolume" title="RingerVolume" width="20" height="20">
                            </div>
                            <div class="contactobject__main">
                              <div class="contactobject__phones">
                                <div class="contactobject__phone">
                                  <a href="tel:+78122928444">7 (812) 292-84-44 </a>
                                  <span>многоканальный</span>
                                </div>
                                <div class="contactobject__phone">
                                  <a href="tel:+78122928486">+7 (812) 292-84-86</a>
                                </div>
                                <div class="contactobject__phone">
                                  <a href="tel:+78122928434">+7 (812) 292-84-34</a>
                                </div>
                                <div class="contactobject__phone">
                                  <a href="tel:+78122928489">+7 (812) 292-84-89</a>
                                </div>
                              </div><!-- /.contactobject__phones -->
                            </div><!-- /.contactobject__main -->
                          </div><!-- /.contactobject__item -->
                          <div class="contactobject__item">
                            <div class="contactobject__icon">
                              <img src="img/EditMessage.svg" alt="EditMessage.svg" title="EditMessage.svg" width="20" height="20">
                            </div>
                            <div class="contactobject__main">
                              <div class="contactobject__phones">
                                <div class="contactobject__email">
                                  <a href="mailto:info@ksb.su">info@ksb.su</a>
                                </div>
                                <div class="contactobject__email">
                                  <a href="mailto:opt@ksb.su ">opt@ksb.su </a>
                                </div>
                               
                              </div><!-- /.contactobject__phones -->
                            </div><!-- /.contactobject__main -->
                          </div><!-- /.contactobject__item -->
                          <div class="contactobject__item">
                            <div class="contactobject__icon">
                              <img src="img/OClock.svg" alt="OClock.svg" title="OClock.svg" width="20" height="20">
                            </div>
                            <div class="contactobject__main">
                              <div class="contactobject__shedule">
                                <div class="contactobject__time">
                                  <div class="contactobject__text"><span><b>ПН-ПТ:</b> с 9-00 до 18-00</span> <span><b>СБ-ВС:</b> Выходной</span></div>
                                </div>
                                <div class="contactobject__path onlyDesktop">
                                  <a href="#" class=" btn_border_lg onlyDesktop">Как пройти?</a>
                                </div>
                              </div><!-- /.contactobject__phones -->
                            </div><!-- /.contactobject__main -->
                          </div><!-- /.contactobject__item -->
                        </div><!-- /.contactobject__items -->
                        <div class="contactobject__path onlyMobile">
                          <a href="#" class=" btn_border_lg ">Как пройти?</a>
                        </div>
                      </div><!-- /.contactobject__content -->
                    </div><!-- /.contactpage__object -->
                    <div class="contactpage__object">
                      <div class="contactobject__title">Оптово-розничный центр. Большой Сампсониевский пр., д.29 литА
                      </div>
                      <div class="contactobject__content">
                        <div class="contactobject__items">
                          <div class="contactobject__item">
                            <div class="contactobject__icon">
                              <img src="img/locatte.svg" alt="locate" title="locate" width="20" height="20">
                            </div>
                            <div class="contactobject__main">
                              <div class="contactobject__text">194100 Россия, Санкт-Петербург, ул. Литовская, д.10
                                (бизнес-центр), офис №2215А |</div>
                            </div><!-- /.contactobject__main -->
                          </div><!-- /.contactobject__item -->
                          <div class="contactobject__item">
                            <div class="contactobject__icon">
                              <img src="img/RingerVolume.svg" alt="RingerVolume" title="RingerVolume" width="20" height="20">
                            </div>
                            <div class="contactobject__main">
                              <div class="contactobject__phones">
                                <div class="contactobject__phone">
                                  <a href="tel:+78122928444">7 (812) 292-84-44 </a>
                                  <span>многоканальный</span>
                                </div>
                                <div class="contactobject__phone">
                                  <a href="tel:+78122928486">+7 (812) 292-84-86</a>
                                </div>
                                <div class="contactobject__phone">
                                  <a href="tel:+78122928434">+7 (812) 292-84-34</a>
                                </div>
                                <div class="contactobject__phone">
                                  <a href="tel:+78122928489">+7 (812) 292-84-89</a>
                                </div>
                              </div><!-- /.contactobject__phones -->
                            </div><!-- /.contactobject__main -->
                          </div><!-- /.contactobject__item -->
                          <div class="contactobject__item">
                            <div class="contactobject__icon">
                              <img src="img/EditMessage.svg" alt="EditMessage.svg" title="EditMessage.svg" width="20" height="20">
                            </div>
                            <div class="contactobject__main">
                              <div class="contactobject__phones">
                                <div class="contactobject__email">
                                  <a href="mailto:info@ksb.su">info@ksb.su</a>
                                </div>
                                <div class="contactobject__email">
                                  <a href="mailto:opt@ksb.su ">opt@ksb.su </a>
                                </div>
                               
                              </div><!-- /.contactobject__phones -->
                            </div><!-- /.contactobject__main -->
                          </div><!-- /.contactobject__item -->
                          <div class="contactobject__item">
                            <div class="contactobject__icon">
                              <img src="img/OClock.svg" alt="OClock.svg" title="OClock.svg" width="20" height="20">
                            </div>
                            <div class="contactobject__main">
                              <div class="contactobject__shedule">
                                <div class="contactobject__time">
                                  <div class="contactobject__text"><b>ПН-ПТ:</b> с 9-00 до 18-00 &nbsp;&nbsp;&nbsp; <b>СБ-ВС:</b> Выходной</div>
                                </div>
                                <div class="contactobject__path onlyDesktop">
                                  <a href="#" class=" btn_border_lg onlyDesktop">Как пройти?</a>
                                </div>
                              </div><!-- /.contactobject__phones -->
                            </div><!-- /.contactobject__main -->
                          </div><!-- /.contactobject__item -->
                        </div><!-- /.contactobject__items -->
                          <div class="contactobject__path onlyMobile">
                          <a href="#" class=" btn_border_lg ">Как пройти?</a>
                        </div>
                      </div><!-- /.contactobject__content -->
                    </div><!-- /.contactpage__object -->
                    <div class="contactpage__object">
                      <div class="contactobject__title">Оптово-розничный центр. Коли Томчака, д. 18
                      </div>
                      <div class="contactobject__content">
                        <div class="contactobject__items">
                          <div class="contactobject__item">
                            <div class="contactobject__icon">
                              <img src="img/locatte.svg" alt="locate" title="locate" width="20" height="20">
                            </div>
                            <div class="contactobject__main">
                              <div class="contactobject__text">194100 Россия, Санкт-Петербург, ул. Литовская, д.10
                                (бизнес-центр), офис №2215А |</div>
                            </div><!-- /.contactobject__main -->
                          </div><!-- /.contactobject__item -->
                          <div class="contactobject__item">
                            <div class="contactobject__icon">
                              <img src="img/RingerVolume.svg" alt="RingerVolume" title="RingerVolume" width="20" height="20">
                            </div>
                            <div class="contactobject__main">
                              <div class="contactobject__phones">
                                <div class="contactobject__phone">
                                  <a href="tel:+78122928444">7 (812) 292-84-44 </a>
                                  <span>многоканальный</span>
                                </div>
                                <div class="contactobject__phone">
                                  <a href="tel:+78122928486">+7 (812) 292-84-86</a>
                                </div>
                                <div class="contactobject__phone">
                                  <a href="tel:+78122928434">+7 (812) 292-84-34</a>
                                </div>
                                <div class="contactobject__phone">
                                  <a href="tel:+78122928489">+7 (812) 292-84-89</a>
                                </div>
                              </div><!-- /.contactobject__phones -->
                            </div><!-- /.contactobject__main -->
                          </div><!-- /.contactobject__item -->
                          <div class="contactobject__item">
                            <div class="contactobject__icon">
                              <img src="img/EditMessage.svg" alt="EditMessage.svg" title="EditMessage.svg" width="20" height="20">
                            </div>
                            <div class="contactobject__main">
                              <div class="contactobject__phones">
                                <div class="contactobject__email">
                                  <a href="mailto:info@ksb.su">info@ksb.su</a>
                                </div>
                                <div class="contactobject__email">
                                  <a href="mailto:opt@ksb.su ">opt@ksb.su </a>
                                </div>
                               
                              </div><!-- /.contactobject__phones -->
                            </div><!-- /.contactobject__main -->
                          </div><!-- /.contactobject__item -->
                          <div class="contactobject__item">
                            <div class="contactobject__icon">
                              <img src="img/OClock.svg" alt="OClock.svg" title="OClock.svg" width="20" height="20">
                            </div>
                            <div class="contactobject__main">
                              <div class="contactobject__shedule">
                                <div class="contactobject__time">
                                  <div class="contactobject__text"><b>ПН-ПТ:</b> с 9-00 до 18-00 &nbsp;&nbsp;&nbsp; <b>СБ-ВС:</b> Выходной</div>
                                </div>
                                <div class="contactobject__path onlyDesktop">
                                  <a href="#" class=" btn_border_lg onlyDesktop">Как пройти?</a>
                                </div>
                              </div><!-- /.contactobject__phones -->
                            </div><!-- /.contactobject__main -->
                          </div><!-- /.contactobject__item -->
                        </div><!-- /.contactobject__items -->
                          <div class="contactobject__path onlyMobile">
                          <a href="#" class=" btn_border_lg ">Как пройти?</a>
                        </div>
                      </div><!-- /.contactobject__content -->
                    </div><!-- /.contactpage__object -->
                    <div class="contactpage__object">
                      <div class="contactobject__title">ООО «ТД КСБ»
                      </div>
                      <div class="contactobject__content">
                        <div class="contactobject__items">
                          <div class="contactobject__item">
                            <div class="contactobject__icon">
                              <img src="img/locatte.svg" alt="locate" title="locate" width="20" height="20">
                            </div>
                            <div class="contactobject__main">
                              <div class="contactobject__text">194100 Россия, Санкт-Петербург, ул. Литовская, д.10
                                (бизнес-центр), офис №2215А |</div>
                            </div><!-- /.contactobject__main -->
                          </div><!-- /.contactobject__item -->
                          <div class="contactobject__item">
                            <div class="contactobject__icon">
                              <img src="img/RingerVolume.svg" alt="RingerVolume" title="RingerVolume" width="20" height="20">
                            </div>
                            <div class="contactobject__main">
                              <div class="contactobject__phones">
                                <div class="contactobject__phone">
                                  <a href="tel:+78122928444">7 (812) 292-84-44 </a>
                                  <span>многоканальный</span>
                                </div>
                                <div class="contactobject__phone">
                                  <a href="tel:+78122928486">+7 (812) 292-84-86</a>
                                </div>
                                <div class="contactobject__phone">
                                  <a href="tel:+78122928434">+7 (812) 292-84-34</a>
                                </div>
                                <div class="contactobject__phone">
                                  <a href="tel:+78122928489">+7 (812) 292-84-89</a>
                                </div>
                              </div><!-- /.contactobject__phones -->
                            </div><!-- /.contactobject__main -->
                          </div><!-- /.contactobject__item -->
                          <div class="contactobject__item">
                            <div class="contactobject__icon">
                              <img src="img/EditMessage.svg" alt="EditMessage.svg" title="EditMessage.svg" width="20" height="20">
                            </div>
                            <div class="contactobject__main">
                              <div class="contactobject__phones">
                                <div class="contactobject__email">
                                  <a href="mailto:info@ksb.su">info@ksb.su</a>
                                </div>
                                <div class="contactobject__email">
                                  <a href="mailto:opt@ksb.su ">opt@ksb.su </a>
                                </div>
                               
                              </div><!-- /.contactobject__phones -->
                            </div><!-- /.contactobject__main -->
                          </div><!-- /.contactobject__item -->
                          <div class="contactobject__item">
                            <div class="contactobject__icon">
                              <img src="img/OClock.svg" alt="OClock.svg" title="OClock.svg" width="20" height="20">
                            </div>
                            <div class="contactobject__main">
                              <div class="contactobject__shedule">
                                <div class="contactobject__time">
                                  <div class="contactobject__text"><b>ПН-ПТ:</b> с 9-00 до 18-00 &nbsp;&nbsp;&nbsp; <b>СБ-ВС:</b> Выходной</div>
                                </div>
                                <div class="contactobject__path onlyDesktop">
                                  <a href="#" class=" btn_border_lg onlyDesktop">Как пройти?</a>
                                </div>
                              </div><!-- /.contactobject__phones -->
                            </div><!-- /.contactobject__main -->
                          </div><!-- /.contactobject__item -->
                        </div><!-- /.contactobject__items -->
                          <div class="contactobject__path onlyMobile">
                          <a href="#" class=" btn_border_lg ">Как пройти?</a>
                        </div>
                      </div><!-- /.contactobject__content -->
                    </div><!-- /.contactpage__object -->
                  </div><!-- /.contactpage__objects -->
                </div><!-- /.contactpage -->

              </div>
              <!-- /.customblock__left -->
              <div class="customblock__right customblock__right_contacts">
                <div id="map"></div><!-- /#map -->

              </div>
              <!-- /.customblock__right -->
            </div>
            <!-- /.customblock -->

          </div>
        </div>
        <%= _.template(require('../includes/map.html').default)(data) %>
      </main>
      <%= _.template(require('../includes/footer.html').default)(data) %>