<% var data={ title: "MAIN" , author: "" }; %>
  <%= _.template(require('../includes/head.html').default)(data) %>
    <%= _.template(require('../includes/header.html').default)(data) %>
      <main>
        <div class="page">
          <div class="breadcrumbs">
            <div class="container">
              <div class="breadcrumbs__items">
                <ul>
                  <li>
                    <a href="/">
                      <span>
                        <img src="img/Home.svg" alt="Главная" title="Главная" width="16" height="16">
                      </span>
                    </a>
                  </li>
                  <li>
                    <a href="">
                      <span>Каталог</span>
                    </a>
                  </li>
                  <li>
                    <span>Мясо, птица</span>
                  </li>
                </ul>
              </div>
              <!-- /.breadcrumbs__items -->
            </div>
            <!-- /.container -->
          </div>
          <!-- /.breadcrumbs -->

          <div class="container">
            <div class="pageheader">
              <h1>Доставка и оплата</h1>
             
            </div>
          </div><!-- /.container -->
        
          <div class="container">
            <div class="pagecontent">
              <div class="pagetext">
                <h2>Доставка по Санкт-Петербургу</h2>
                <ul>
                  <li><span>Доставку по Санкт-Петербургу в пределах КАД мы осуществляем бесплатно при сумме заказа от 50000 руб. При заказе товара менее чем на 50000 руб., стоимость доставки уточняйте у менеджера. Исключение составляют негабаритные грузы (стрела шлагбаума шесть и более метров и т.п.), стоимость доставки которых рассчитывается индивидуально.</span></li>
                  <li><span>Информацию о доставке за пределами КАД уточняйте у менеджера.</span> </li>
                  <li><span>Срок доставки: доставка обычно производится в течение 3х дней</span> </li>
                  <li><span>Время доставки: с 10-00 до 18-00</span></li>
                  <li><span>Адреса самовывоза продукции смотрите в разделе <a href="#" class="link_blue">Контакты</a> </span></li>
                
                </ul><!--  -->
            
                <h2>Доставка по Москве в пределах МКАД</h2>

                 <ul>
                  <li><span>Доставку по Москве в пределах МКАД мы осуществляем бесплатно при сумме заказа от 50000 руб. При заказе товара менее чем на 50000 руб., стоимость доставки уточняйте у менеджера. Исключение составляют негабаритные грузы (стрела шлагбаума шесть и более метров и т.п.), стоимость доставки которых рассчитывается индивидуально.</span></li>
                  <li><span>Информацию о доставке за пределами МКАД уточняйте у менеджера.</span> </li>
                  <li><span>Срок доставки: доставка обычно производится в течение 3х дней</span> </li>
                  <li><span>Время доставки: с 10-00 до 18-00</span></li>
                  <li><span>Адреса самовывоза продукции смотрите в разделе <a href="#" class="link_blue">Контакты</a> </span></li>
                
                </ul><!--  -->
            
             
                <h2>Доставка по России, в т.ч. по Подмосковью и Ленинградской области</h2>

                <p>Наша компания осуществляет бесплатную доставку Вашего заказа до терминала транспортно-экспедиционных компаний</p>

                <div class="brandsblock__wrapper brandsblock__wrapper_wrap">
              <div class="brandsblock__items">
                <div class="brandsblock__item">
                  <div class="brandsblock__link">
                    <img src="img/id5_FC3kEJ_logos 1.svg" width="110" height="39" alt="id5_FC3kEJ_logos 1.svg" title="id5_FC3kEJ_logos 1.svg">
                  </div>
                </div><!-- /.brandsblock__item -->
                <div class="brandsblock__item">
                  <div class="brandsblock__link">
                    <img src="img/id5_FC3kEJ_logos 1.svg" width="110" height="39" alt="id5_FC3kEJ_logos 1.svg" title="id5_FC3kEJ_logos 1.svg">
                  </div>
                </div><!-- /.brandsblock__item -->
                <div class="brandsblock__item">
                  <div class="brandsblock__link">
                    <img src="img/id5_FC3kEJ_logos 1.svg" width="110" height="39" alt="id5_FC3kEJ_logos 1.svg" title="id5_FC3kEJ_logos 1.svg">
                  </div>
                </div><!-- /.brandsblock__item -->
                <div class="brandsblock__item">
                  <div class="brandsblock__link">
                    <img src="img/id5_FC3kEJ_logos 1.svg" width="110" height="39" alt="id5_FC3kEJ_logos 1.svg" title="id5_FC3kEJ_logos 1.svg">
                  </div>
                </div><!-- /.brandsblock__item -->
                <div class="brandsblock__item">
                  <div class="brandsblock__link">
                    <img src="img/id5_FC3kEJ_logos 1.svg" width="110" height="39" alt="id5_FC3kEJ_logos 1.svg" title="id5_FC3kEJ_logos 1.svg">
                  </div>
                </div><!-- /.brandsblock__item -->
                <div class="brandsblock__item">
                  <div class="brandsblock__link">
                    <img src="img/id5_FC3kEJ_logos 1.svg" width="110" height="39" alt="id5_FC3kEJ_logos 1.svg" title="id5_FC3kEJ_logos 1.svg">
                  </div>
                </div><!-- /.brandsblock__item -->
                <div class="brandsblock__item">
                  <div class="brandsblock__link">
                    <img src="img/id5_FC3kEJ_logos 1.svg" width="110" height="39" alt="id5_FC3kEJ_logos 1.svg" title="id5_FC3kEJ_logos 1.svg">
                  </div>
                </div><!-- /.brandsblock__item -->
                <div class="brandsblock__item">
                  <div class="brandsblock__link">
                    <img src="img/id5_FC3kEJ_logos 1.svg" width="110" height="39" alt="id5_FC3kEJ_logos 1.svg" title="id5_FC3kEJ_logos 1.svg">
                  </div>
                </div><!-- /.brandsblock__item -->
                <div class="brandsblock__item">
                  <div class="brandsblock__link">
                    <img src="img/id5_FC3kEJ_logos 1.svg" width="110" height="39" alt="id5_FC3kEJ_logos 1.svg" title="id5_FC3kEJ_logos 1.svg">
                  </div>
                </div><!-- /.brandsblock__item -->
              </div><!-- /.brandsblock__items -->
            </div>
              </div><!-- /.pagetext -->

              

            </div><!-- /.pagecontent -->
          </div>
         

       
      </main>
      <%= _.template(require('../includes/footer.html').default)(data) %>