<% var data={ title: "MAIN" , author: "" }; %>
  <%= _.template(require('../includes/head.html').default)(data) %>
    <%= _.template(require('../includes/header.html').default)(data) %>
      <main>
        <div class="page">
          <div class="breadcrumbs">
            <div class="container">
              <div class="breadcrumbs__items">
                <ul>
                  <li>
                    <a href="/">
                      <span>
                        <img src="img/Home.svg" alt="Главная" title="Главная" width="16" height="16">
                      </span>
                    </a>
                  </li>
                  <li>
                    <a href="">
                      <span>Каталог</span>
                    </a>
                  </li>
                  <li>
                    <span>Мясо, птица</span>
                  </li>
                </ul>
              </div>
              <!-- /.breadcrumbs__items -->
            </div>
            <!-- /.container -->
          </div>
          <!-- /.breadcrumbs -->
          <div class="catalogpage__logoheader">
            <div class="container">
              <div class="logoheader logoheader_news">
                <div class="logoheader__image">
                  <div class="logoheader__img">
                    <img src="img/51bb71ea26d77924e842fbd4ffa8792350596234.jpg" alt="" title="" width="410" height="274">
                  </div><!-- /.logoheader__img -->

                </div><!-- /.logoheader__image -->
                <div class="logoheader__content">
                  <div class="logoheader__title ">
                    <h1>Качественное изображение без помех: купольные IP-камеры HiWatch с белой подсветкой и технологией
                      EchoLight</h1>
                  </div><!-- /.logoheader__title -->
                  <div class="logoheader__text">14.05.2025</div>
                </div><!-- /.logoheader__content -->
              </div><!-- /.logoheader -->

            </div><!-- /.container -->
          </div><!-- /.catalogpage__logoheader -->
          <div class="container">

            <div class="pagecontent">

              <div class="pagetext">
                <h2>Заголовок</h2>
                <p> Задача организации, в особенности же новая модель организационной деятельности требуют от нас
                  анализа системы обучения кадров, соответствует насущным потребностям. Идейные соображения высшего
                  порядка, а также новая модель организационной деятельности требуют определения и уточнения
                  соответствующий условий активизации. Не следует, однако забывать, что новая модель организационной
                  деятельности способствует подготовки и реализации существенных финансовых и административных условий.
                  Разнообразный и богатый опыт новая модель организационной деятельности влечет за собой процесс
                  внедрения и модернизации дальнейших направлений развития. Товарищи! дальнейшее развитие различных форм
                  деятельности позволяет выполнять важные задания по разработке позиций, занимаемых участниками в
                  отношении поставленных задач. С другой стороны постоянное информационно-пропагандистское обеспечение
                  нашей деятельности способствует подготовки и реализации дальнейших направлений развития.</p>

                <p> Равным образом постоянное информационно-пропагандистское обеспечение нашей деятельности обеспечивает
                  широкому кругу (специалистов) участие в формировании существенных финансовых и административных
                  условий. Значимость этих проблем настолько очевидна, что укрепление и развитие структуры представляет
                  собой интересный эксперимент проверки позиций, занимаемых участниками в отношении поставленных задач.
                  Не следует, однако забывать, что дальнейшее развитие различных форм деятельности играет важную роль в
                  формировании системы обучения кадров, соответствует насущным потребностям. Равным образом сложившаяся
                  структура организации способствует подготовки и реализации существенных финансовых и административных
                  условий.</p>

                  <h2>Заголовок</h2>

                  <ul>
                    <li><span>Эксклюзивный дистрибьютор видеонаблюдения <a href="">AMATEK</a></span></li>
                    <li><span>Эксклюзивный дистрибьютор аналогового видеонаблюдения AVTECH и официальный дистрибьютор IP-видеонаблюдения AVTECH в России. Официальный дистрибьютор оборудования Pyronix , Visonic и TAMRON.</span> </li>
                    <li><span>Является дилером оборудования известных брендов: CTV, Tantos, Hikvision, Jablotron, DSC, Optex, Eldes, Ритм, Came, IronLogic, Gate, Сфинкс, Strazh, INTER-M, Олевс, Faraday, Промрукав и многих других.</span> </li>
                    <li><span>Осуществляет оптовые и розничные продажи оборудования систем безопасности по направлениям видеонаблюдения, СКУД, ОПС, пожаротушения, оповещения, расходных материалов и других.</span></li>
                    <li><span>Продаёт и отгружает оборудование по России и СНГ. Офисы и склады компании находятся в Санкт-Петербурге и Москве.</span></li>
                    <li><span>Консультирует по выбору оборудования систем безопасности.</span></li>
                    <li><span>Обеспечивает техническую поддержку, гарантийный ремонт и сервисное обслуживание оборудования в собственном Сервисном Центре.</span></li>
                  </ul>
              </div>
              <!-- /.pagetext -->
            </div>
            <!-- /.pagecontent -->
          </div>
          <div class="pageblocksl morenewsslider">
            <div class="container">
              <div class="pageblocksl__header">
                <h2>Другие новости</h2>
                <a href="#" class="borderlink">Смотреть все</a>
              </div>
              <div class="itemslistslider__wrapper" data-slider="morenews">
                <div class="sliderarrow sliderarrows__left">
                  <img loading="lazy" src="img/leftslide.svg" width="26" height="26" alt="left" title="left">
                </div>
                <!-- /.sliderarrows__left -->
                <div class="sliderarrow sliderarrows__right">
                  <img loading="lazy" src="img/rightslide.svg" width="26" height="26" alt="right" title="right">
                </div>
                <!-- /.sliderarrows__right -->
                <div class="itemslistslider__container swiper">
                  <div class="itemslist__slider morenews__slider swiper-wrapper">
                    <div class="itemslistslider__slide swiper-slide">
                      <div class="itemslistslider__item">
                        <div class="itemslistcard itemslistcar_large">
                          <div class="itemslistcard__wrapper">
                            <a href="#" class="itemslistcard__image">
                              <div class="itemslistcard__img">
                                <img src="img/6be1d7278598f1168dcf74110ae8e3639d06467e.webp" alt="" title="" width="942"
                                  height="628">
                              </div>
                            </a>
                            <!-- /.itemslistcard__image -->

                            <div class="itemslistcard__title">
                              <a href="">Качественное изображение без помех: купольные IP-камеры HiWatch с белой
                                подсветкой и технологией EchoLight</a>
                            </div>
                            <div class="itemslistcard__info">
                              <div class="itemslistcard__params">
                                <div class="itemslistcard__param">
                                  <span class="itemslistcard__text">14.05.2022</span>
                                </div>
                              </div>
                              <!-- /.itemslistcard__params -->
                            </div>

                            <!-- /.itemslistcard__info -->
                          </div>
                          <!-- /.itemslistcard__wrapper -->
                        </div>
                        <!-- /.itemslistcard -->
                      </div>
                      <!-- /.itemslistslider__item -->
                    </div>
                    <!-- /.itemslistslider__slide -->
                    <div class="itemslistslider__slide swiper-slide">
                      <div class="itemslistslider__item">
                        <div class="itemslistcard itemslistcar_large">
                          <div class="itemslistcard__wrapper">
                            <a href="#" class="itemslistcard__image">
                              <div class="itemslistcard__img">
                                <img src="img/6be1d7278598f1168dcf74110ae8e3639d06467e.webp" alt="" title="" width="942"
                                  height="628">
                              </div>
                            </a>
                            <!-- /.itemslistcard__image -->

                            <div class="itemslistcard__title">
                              <a href="">Качественное изображение без помех: купольные IP-камеры HiWatch с белой
                                подсветкой и технологией EchoLight</a>
                            </div>
                            <div class="itemslistcard__info">
                              <div class="itemslistcard__params">
                                <div class="itemslistcard__param">
                                  <span class="itemslistcard__text">14.05.2022</span>
                                </div>
                              </div>
                              <!-- /.itemslistcard__params -->
                            </div>

                            <!-- /.itemslistcard__info -->
                          </div>
                          <!-- /.itemslistcard__wrapper -->
                        </div>
                        <!-- /.itemslistcard -->
                      </div>
                      <!-- /.itemslistslider__item -->
                    </div>
                    <!-- /.itemslistslider__slide -->
                    <div class="itemslistslider__slide swiper-slide">
                      <div class="itemslistslider__item">
                        <div class="itemslistcard itemslistcar_large">
                          <div class="itemslistcard__wrapper">
                            <a href="#" class="itemslistcard__image">
                              <div class="itemslistcard__img">
                                <img src="img/6be1d7278598f1168dcf74110ae8e3639d06467e.webp" alt="" title="" width="942"
                                  height="628">
                              </div>
                            </a>
                            <!-- /.itemslistcard__image -->

                            <div class="itemslistcard__title">
                              <a href="">Качественное изображение без помех: купольные IP-камеры HiWatch с белой
                                подсветкой и технологией EchoLight</a>
                            </div>
                            <div class="itemslistcard__info">
                              <div class="itemslistcard__params">
                                <div class="itemslistcard__param">
                                  <span class="itemslistcard__text">14.05.2022</span>
                                </div>
                              </div>
                              <!-- /.itemslistcard__params -->
                            </div>

                            <!-- /.itemslistcard__info -->
                          </div>
                          <!-- /.itemslistcard__wrapper -->
                        </div>
                        <!-- /.itemslistcard -->
                      </div>
                      <!-- /.itemslistslider__item -->
                    </div>
                    <!-- /.itemslistslider__slide -->
                    <div class="itemslistslider__slide swiper-slide">
                      <div class="itemslistslider__item">
                        <div class="itemslistcard itemslistcar_large">
                          <div class="itemslistcard__wrapper">
                            <a href="#" class="itemslistcard__image">
                              <div class="itemslistcard__img">
                                <img src="img/6be1d7278598f1168dcf74110ae8e3639d06467e.webp" alt="" title="" width="942"
                                  height="628">
                              </div>
                            </a>
                            <!-- /.itemslistcard__image -->

                            <div class="itemslistcard__title">
                              <a href="">Качественное изображение без помех: купольные IP-камеры HiWatch с белой
                                подсветкой и технологией EchoLight</a>
                            </div>
                            <div class="itemslistcard__info">
                              <div class="itemslistcard__params">
                                <div class="itemslistcard__param">
                                  <span class="itemslistcard__text">14.05.2022</span>
                                </div>
                              </div>
                              <!-- /.itemslistcard__params -->
                            </div>

                            <!-- /.itemslistcard__info -->
                          </div>
                          <!-- /.itemslistcard__wrapper -->
                        </div>
                        <!-- /.itemslistcard -->
                      </div>
                      <!-- /.itemslistslider__item -->
                    </div>
                    <!-- /.itemslistslider__slide -->
                    <div class="itemslistslider__slide swiper-slide">
                      <div class="itemslistslider__item">
                        <div class="itemslistcard itemslistcar_large">
                          <div class="itemslistcard__wrapper">
                            <a href="#" class="itemslistcard__image">
                              <div class="itemslistcard__img">
                                <img src="img/6be1d7278598f1168dcf74110ae8e3639d06467e.webp" alt="" title="" width="942"
                                  height="628">
                              </div>
                            </a>
                            <!-- /.itemslistcard__image -->

                            <div class="itemslistcard__title">
                              <a href="">Качественное изображение без помех: купольные IP-камеры HiWatch с белой
                                подсветкой и технологией EchoLight</a>
                            </div>
                            <div class="itemslistcard__info">
                              <div class="itemslistcard__params">
                                <div class="itemslistcard__param">
                                  <span class="itemslistcard__text">14.05.2022</span>
                                </div>
                              </div>
                              <!-- /.itemslistcard__params -->
                            </div>

                            <!-- /.itemslistcard__info -->
                          </div>
                          <!-- /.itemslistcard__wrapper -->
                        </div>
                        <!-- /.itemslistcard -->
                      </div>
                      <!-- /.itemslistslider__item -->
                    </div>
                    <!-- /.itemslistslider__slide -->
                  </div>
                </div>
                <!-- /.itemslistslider__container -->
              </div>
            </div>
          </div>
        </div>
      </main>
      <%= _.template(require('../includes/footer.html').default)(data) %>