<% var data = {
  title: "MAIN",
  author: ""
  }; %><%= _.template(require('../includes/head.html').default)(data) %><%= _.template(require('../includes/header.html').default)(data) %> 
  <style>
    [data-toggle='modal'] {margin-bottom: 5px;}
  </style>
  <main>
  <div class="container">
    <!-- эти попапы в футере  -->
    <a href="#popup_delivery" data-toggle='modal' class="btn btn_main"> Выбрать способ доставки </a>
    <a href="#popup_callback" data-toggle='modal' class="btn btn_main"> Заказать звонок</a>
    <a href="#popup_auth" data-toggle='modal' class="btn btn_main"> Авторизация</a>
    <a href="#popup_reg" data-toggle='modal' class="btn btn_main"> Регистрация</a>
    <a href="#popup_password" data-toggle='modal' class="btn btn_main"> Восстановление пароля</a>
    <a href="#popup_sms" data-toggle='modal' class="btn btn_main">Вход по SMS</a>
    <a href="#popup_reset" data-toggle='modal' class="btn btn_main">Сброс пароля</a>
    <a href="#popup_email" data-toggle='modal' class="btn btn_main">Мы отправили письмо</a>
    <a href="#popup_success" data-toggle='modal' class="btn btn_main">Успешная отправка</a>
    <a href="#popup_review" data-toggle='modal' class="btn btn_main">Оставить отзыв</a>
    <a href="#popup_rate" data-toggle='modal' class="btn btn_main">Оцените </a>

    <!-- эти попапы в карточке товара и ниже -->
    <a href="#popup_fastorder" data-toggle='modal' class="btn btn_main">Купить в 1 клик </a>
    <a href="#popup_addproduct" data-toggle='modal' class="btn btn_main">Добавлен в корзину </a>
    <br>
    <br>
  </div>
  <!-- /.container -->
</main>

<div class="modal modal_twicelarge fade" tabindex="-1" role="dialog" id='popup_fastorder'>
  <div class="modal-dialog" role="document">
    <div class="modalwrapper">
      <div class="modal-content">
        <div class="modal__header">
          <div class="modal-title onlyMobile">Купить в 1 клик</div>

        
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">
            <img loading="lazy" src="img/closebutton.svg" width="10" height="10" alt="" title="">
          </span>
        </button>
        <div class="modal-body">
          <form action="">
            
            <div class="modalcols">
              <div class="modalcols__left">
                <div class="modalcols__product">
                  <div class="modalcols__productimage onlyMobile">
                    <img src="img/product1.jpg" alt="" title="" width="177" height="176">
                  </div>
                  <div class="modalcols__productcontent">
                    <div class="modalcols__producttitle">Кета в масле 280 гр.
                    </div>
                    <div class="modalcols__productimage onlyDesktop">
                      <img src="img/product1.jpg" alt="" title="" width="177" height="176">
                    </div>
                    <div class="modalcols__productprice">
                      <div class="productcard__prices">
                        <div class="productcard__mainprice">
                          <div class="productcard__price">
                            <div class="productcard__pricevalue">674.94</div>
                            <div class="productcard__priceunit">₽/кг</div>
                          </div>
                          <!-- /.productcard__price -->
                        </div>
                        <!-- /.productcard__mainprice -->
                        <div class="productcard__topprice">
                          <div class="productcard__oldprice">762.92</div>
                          <div class="productcard__badge">12%</div>
                        </div>
                      </div>
                    </div><!-- /.modalcols__productprice -->
                  </div><!-- /.modalcols__productcontent -->
                  
                </div><!-- /.modalcols__product -->
              </div><!-- /.modalcols__left -->
              <div class="modalcols__right">
                <div class="modal-title onlyDesktop">Купить в 1 клик</div>
            <div class="formblock">
              <div class="formblock__main">
                <div class="formblock__input">
                  <label for="">Имя</label>
                  <input type="text" class='' value=''>
                </div><!-- /.formblock__input -->
                <div class="formblock__input">
                  <label for="">Телефон</label>
                  <input type="tel" class='' >
         
                </div><!-- /.formblock__input -->
               
                <div class="formblock__input">
                  <label for="">Комментарий к заказу</label>
                  <textarea name="" id="" cols="" rows="3"></textarea><!-- /# -->
                </div><!-- /.formblock__input -->
               
              </div><!-- /.formblock__main -->
              <div class="formblock__check">
                <div class="check">
                  <input type="checkbox" id="agree" checked="checked" value="Y">
                  <label for="agree">Даю свое согласие на обработку персональных данных, соглашаюсь <a aria-label="link"
                      href=""> с
                      политикой конфиденциальности</a> и принимаю <a aria-label="link" href="">условия оферты</a>
                  </label>
                </div>
              </div><!-- /.formblock__check -->
              <div class="modal-submit modal-submit_small">
                <div class="buttonsrow">
                  <div class="buttonsrow__item buttonsrow__item_full">
                    <button aria-label="button" type='submit' class='btn btn_main btn_round'>Отправить</button>
                  </div>
                  <!-- /.buttonsrow__item -->
                </div>
                <!-- /.buttonsrow -->
              </div>
            </div><!-- /.formblock -->
          </div><!-- /.modalcols__right -->
        </div><!-- /.modalcols -->
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
</div>

<div class="modal fade" tabindex="-1" role="dialog" id="popup_addproduct">
  <div class="modal-dialog modal-dialog_product" role="document">
    <div class="modalwrapper">
      <div class="modal-content">
        <div class="modal-title modal-title_left">Товар добавлен в корзину</div>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true"><img src="img/closebutton.svg" alt="closebutton" title="closebutton" width="10" height="10"></span>
        </button>
        <div class="modal-body">
          <div class="modalproduct">
            <div class="modalproduct__main">
              <div class="modalproduct__product">
                <div class="minicard">
                  <div class="minicard__wrapper">
                    <div class="minicard__left">
                      <div class="minicard__image">
                        <img src="img/product1.jpg" alt="" title="" width="177" height="176" />
                      </div>
                      <div class="minicard__info onlyMobile">
                        <div class="minicard__title">Кета в масле 280 гр.</div>
                        <div class="minicard__right">
                          <div class="minicard__price">
                            <div class="productcard__prices">
                              <div class="productcard__topprice">
                                <div class="productcard__oldprice">762.92</div>
                                <div class="productcard__badge">12%</div>
                              </div>
                              <!-- /.productcard__oldprice -->
                              <div class="productcard__mainprice">
                                <div class="productcard__price">
                                  <div class="productcard__pricevalue">674.94</div>
                                  <div class="productcard__priceunit">₽/кг</div>
                                </div>
                                <!-- /.productcard__price -->
                              </div>
                              <!-- /.productcard__mainprice -->
                            </div>
                          </div>
                          <!-- /.minicard__price -->
                        </div>
                      </div>
                      <!-- /.minicard__info -->
                      <div class="minicard__main">
                        <div class="minicard__title onlyDesktop">Кета в масле 280 гр.</div>
                        <!-- /.minicard__title -->
                        <div class="minicard__buyblock">
                          
                          <div class="minicard__count">
                            <div class="buyblock__quantity">
                              <div class="quantity">
                                <span class="quantity-minus" data-field="quantity">
                                  <img loading="lazy" src="img/minusform.svg" alt="minus" width="8" height="3" title="minus">
                                </span>
                                <input lang="en-150" type="number" readonly="" step="0.3" data-base="1" max=""
                                  min='0.3' value="0.3" name="quantity" class="quantity-field"
                                  data-entity="quantity" data-item="">
                                <span class="quantity-plus" data-field="quantity">
                                  <img loading="lazy" src="img/plusform.svg" alt="plus" width="8" height="9" title="plus">
                                </span>
                              </div>
                            </div>
                            <div class="minicard__amount">
                              <div class="minicard__pricecount">674.94 ₽/кг.</div>
                            </div>
                          </div>
                          <!-- /.minicard__count -->

                          <!-- /.minicard__amount -->
                        </div>
                        <!-- /.minicard__buyblock -->
                      </div>
                      <!-- /.minicard__main -->
                    </div>
                    <div class="minicard__right onlyDesktop">
                      <div class="minicard__price">
                        <div class="productcard__prices">
                          <div class="productcard__topprice">
                            <div class="productcard__oldprice">762.92</div>
                            <div class="productcard__badge">12%</div>
                          </div>
                          <!-- /.productcard__oldprice -->
                          <div class="productcard__mainprice">
                            <div class="productcard__price">
                              <div class="productcard__pricevalue">674.94</div>
                              <div class="productcard__priceunit">₽/кг</div>
                            </div>
                            <!-- /.productcard__price -->
                          </div>
                          <!-- /.productcard__mainprice -->
                        </div>
                      </div>
                      <!-- /.minicard__price -->
                    </div>
                  </div>
                  <!-- /.minicard__wrapper -->
                </div>
                <!-- /.minicard -->
              </div>
              <!-- /.modalproduct__product -->
              <div class="modalproduct__buttons">
                <a href="#" data-dismiss="modal" class="btn_border2">Продолжить покупки</a>
                <a href="#" class="btn_main">Оформить заказ</a>
              </div>
              <!-- /.modalproduct__buttons -->
            </div>
            <!-- /.modalproduct__main -->
            <div class="modalproduct__related">
              <div class="miniproductslider">
                <div class="pageblocksl productslider">
                  <div class="blockheader flex items-center content-between">
                    <div class="blockheader__left">
                      <h2>С этим покупают</h2>
                    </div>
                    <!-- /.blockheader__left -->
                    <div>
                      <div class="sliderarrows flex">
                        <div class="sliderarrows__left">
                          <img src="img/left.svg" alt="left" title="left" width="26" height="26" />
                        </div>
                        <!-- /.sliderarrows__left -->
                        <div class="sliderarrows__right">
                          <img src="img/right.svg" alt="right" title="right" width="26" height="26" />
                        </div>
                        <!-- /.sliderarrows__right -->
                      </div>
                      <!-- /.sliderarrows -->
                    </div>
                  </div>
                  <!-- /.blockheader -->
                  <div class="productslider__wrapper">
                    <div class="productslider__container wrap-modal-slider">
                      <div class="productslider__modalslider">
                        <div class="productslider__slide">
                          <div class="productslider__item">
                            <div class="productcard">
                              <div class="productcard__wrapper">
                                <div class="productcard__left">
                                  <a href="#" class="productcard__images">
                                    <div class="productcard__img">
                                      <img src="img/product.webp" width="212" height="201" alt="" title=""/>
                                    </div>
                                  </a>
                                  <!-- /.productcard__images -->
                                </div>
                                <!-- /.productcard__left -->
                                <div class="productcard__right">
                                  <div class="productcard__title">
                                    <a href="">Кета в масле 280 гр.</a>
                                  </div>
                                  <div class="productcard__buy">
                                    <div class="productcard__prices">
                                      <div class="productcard__topprice">
                                        <div class="productcard__oldprice">762.92</div>
                                        <div class="productcard__badge">12%</div>
                                      </div>
                                      <!-- /.productcard__oldprice -->
                                      <div class="productcard__mainprice">
                                        <div class="productcard__price">
                                          <div class="productcard__pricevalue">674.94</div>
                                          <div class="productcard__priceunit">₽/кг</div>
                                        </div>
                                        <!-- /.productcard__price -->
                                      </div>
                                      <!-- /.productcard__mainprice -->
                                    </div>
                                    <!-- /.productcard__prices -->
                                    <div class="productcard__button">
                                      <button class="productcard__addtocart btn "></button>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <!-- /.productcard__wrapper -->
                            </div>
                            <!-- /.productcard -->
                          </div>
                          <!-- /.productslider__item -->
                        </div>
                        <!-- /.productslider__slide  -->
                        <div class="productslider__slide">
                          <div class="productslider__item">
                            <div class="productcard">
                              <div class="productcard__wrapper">
                                <div class="productcard__left">
                                  <a href="#" class="productcard__images">
                                    <div class="productcard__img">
                                      <img src="img/product.webp" width="212" height="201" alt="" title=""/>
                                    </div>
                                  </a>
                                  <!-- /.productcard__images -->
                                </div>
                                <!-- /.productcard__left -->
                                <div class="productcard__right">
                                  <div class="productcard__title">
                                    <a href="">Кета в масле 280 гр.</a>
                                  </div>
                                  <div class="productcard__buy">
                                    <div class="productcard__prices">
                                      <div class="productcard__topprice">
                                        <div class="productcard__oldprice">762.92</div>
                                        <div class="productcard__badge">12%</div>
                                      </div>
                                      <!-- /.productcard__oldprice -->
                                      <div class="productcard__mainprice">
                                        <div class="productcard__price">
                                          <div class="productcard__pricevalue">674.94</div>
                                          <div class="productcard__priceunit">₽/кг</div>
                                        </div>
                                        <!-- /.productcard__price -->
                                      </div>
                                      <!-- /.productcard__mainprice -->
                                    </div>
                                    <!-- /.productcard__prices -->
                                    <div class="productcard__button">
                                      <button class="productcard__addtocart btn "></button>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <!-- /.productcard__wrapper -->
                            </div>
                            <!-- /.productcard -->
                          </div>
                          <!-- /.productslider__item -->
                        </div>
                        <!-- /.productslider__slide  -->
                        <div class="productslider__slide">
                          <div class="productslider__item">
                            <div class="productcard">
                              <div class="productcard__wrapper">
                                <div class="productcard__left">
                                  <a href="#" class="productcard__images">
                                    <div class="productcard__img">
                                      <img src="img/product.webp" width="212" height="201" alt="" title=""/>
                                    </div>
                                  </a>
                                  <!-- /.productcard__images -->
                                </div>
                                <!-- /.productcard__left -->
                                <div class="productcard__right">
                                  <div class="productcard__title">
                                    <a href="">Кета в масле 280 гр.</a>
                                  </div>
                                  <div class="productcard__buy">
                                    <div class="productcard__prices">
                                      <div class="productcard__topprice">
                                        <div class="productcard__oldprice">762.92</div>
                                        <div class="productcard__badge">12%</div>
                                      </div>
                                      <!-- /.productcard__oldprice -->
                                      <div class="productcard__mainprice">
                                        <div class="productcard__price">
                                          <div class="productcard__pricevalue">674.94</div>
                                          <div class="productcard__priceunit">₽/кг</div>
                                        </div>
                                        <!-- /.productcard__price -->
                                      </div>
                                      <!-- /.productcard__mainprice -->
                                    </div>
                                    <!-- /.productcard__prices -->
                                    <div class="productcard__button">
                                      <button class="productcard__addtocart btn "></button>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <!-- /.productcard__wrapper -->
                            </div>
                            <!-- /.productcard -->
                          </div>
                          <!-- /.productslider__item -->
                        </div>
                        <!-- /.productslider__slide  -->
                        <div class="productslider__slide">
                          <div class="productslider__item">
                            <div class="productcard">
                              <div class="productcard__wrapper">
                                <div class="productcard__left">
                                  <a href="#" class="productcard__images">
                                    <div class="productcard__img">
                                      <img src="img/product.webp" width="212" height="201" alt="" title=""/>
                                    </div>
                                  </a>
                                  <!-- /.productcard__images -->
                                </div>
                                <!-- /.productcard__left -->
                                <div class="productcard__right">
                                  <div class="productcard__title">
                                    <a href="">Кета в масле 280 гр.</a>
                                  </div>
                                  <div class="productcard__buy">
                                    <div class="productcard__prices">
                                      <div class="productcard__topprice">
                                        <div class="productcard__oldprice">762.92</div>
                                        <div class="productcard__badge">12%</div>
                                      </div>
                                      <!-- /.productcard__oldprice -->
                                      <div class="productcard__mainprice">
                                        <div class="productcard__price">
                                          <div class="productcard__pricevalue">674.94</div>
                                          <div class="productcard__priceunit">₽/кг</div>
                                        </div>
                                        <!-- /.productcard__price -->
                                      </div>
                                      <!-- /.productcard__mainprice -->
                                    </div>
                                    <!-- /.productcard__prices -->
                                    <div class="productcard__button">
                                      <button class="productcard__addtocart btn "></button>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <!-- /.productcard__wrapper -->
                            </div>
                            <!-- /.productcard -->
                          </div>
                          <!-- /.productslider__item -->
                        </div>
                        <!-- /.productslider__slide  -->
                      </div>
                      <!-- /.productslider__slide r -->
                    </div>
                    <!-- /.productslider__container -->
                  </div>
                  <!-- /.productslider__wrapper -->
                </div>
                <!-- /.pageblock -->
              </div>
              <!-- /.miniproductslider -->
            </div>
            <!-- /.modalproduct__related -->
          </div>
          <!-- /.modalproduct -->
        </div>
      </div>
    </div>
  </div>
</div>
<script>

  $("#popup_addproduct").on("shown.bs.modal", function (e) {
    $(".wrap-modal-slider .productslider__modalslider").slick("setPosition");
    $(".wrap-modal-slider").addClass("open");
  });
</script>
<%= _.template(require('../includes/footer.html').default)(data) %>