<% var data = {
  title: "MAIN",
  author: ""
  }; %><%= _.template(require('../includes/head.html').default)(data) %><%= _.template(require('../includes/header.html').default)(data) %> 
  <style>
    [data-toggle='modal'] {margin-bottom: 5px;}
    main .container {
      margin: 150px 0;
    }
  </style>
  <main>
  <div class="container">
    <!-- эти попапы в футере  -->
    <a href="#popup_callback" data-toggle='modal' class="btn btn_main"> Заказать звонок</a>
    <a href="#popup_auth" data-toggle='modal' class="btn btn_main"> Авторизация</a>
    <a href="#popup_reg" data-toggle='modal' class="btn btn_main"> Регистрация</a>
    <a href="#popup_request" data-toggle='modal' class="btn btn_main"> Отправить запрос</a>
    <a href="#popup_password" data-toggle='modal' class="btn btn_main"> Восстановление пароля</a>
    <a href="#popup_email" data-toggle='modal' class="btn btn_main">Email</a>
    <a href="#popup_success" data-toggle='modal' class="btn btn_main">Успешная отправка</a>


    <br>
    <br>
  </div>
  <!-- /.container -->
</main>

<%= _.template(require('../includes/footer.html').default)(data) %>